:root {
  --blanco: #ffffff;
  --negro: #000000;
  --titulo: #135266;
  --nav: #116074;
  --body: #063646;
  --seccion: #ebfffe;
  --icono: #029cb8;
  --pie: #063646;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--body);
}


html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  text-align: center;
}

span {
  font-size: 18px;
}
        
h2 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 2.5em;
  text-align: center;
}

P {
  font-size: 2em;
}

span {
  font-size: 0.6em;
}
/* Inicio del header*/
header {
  max-width: 100%;
  text-align: center;
  padding: 16px;
  background-color: var(--blanco);
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
    padding: 16px;
    position: relative;
    padding-bottom: 2.8rem;
  }
  h1 {
    margin: 20px 0;
  }
  h1 span {
    margin: 4rem 0;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* fin del header*/

/* Inicio de la navbarra*/
.nav {
  background-color: var(--nav);
  width: 100%;
  text-align: center;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: block;
  color: white;
  padding: 28px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 1.8em;
}

.nav a:hover {
  background-color: var(--icono);
  color: var(--blanco);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .nav ul li {
    display: block;
    width: 100%;
  }

  .nav ul li a {
    padding: 30px 20px;
    font-size: 1.8rem;
  }
}
/* Fin de la navbarra*/

/* Inicio de la portada*/
.portada {
  background-image: url(../Img/Portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px;
  position: relative;
  width: 100%;
}

.contenido-portada {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-portada h2,
.contenido-portada p {
  color: #f8f8f8;
  margin: 8px;
}

@media screen and (max-width: 768px) {
  .portada {
    background-image: url(../Img/Portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    position: static;
  }

  .contenido-portada {
    position: static;
    height: 100%;
  }

  .contenido-portada h2,
  .contenido-portada p {
    font-size: 2rem;
    position: center;
  }

  .contenido-portada p {
    font-weight: 400;
  }
}
@media screen and (max-width: 512px) {
  .contenido-portada h2,
  .contenido-portada p {
    position: center;
    text-align: center;
    font-size: 1.75rem;
  }
}
/* Fin de la portada*/

/* Inicio de la sección servicio*/
.contenedor {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 40px;
}

.contenedor h2 {
  color: var(--blanco);
  margin: 20px auto;
}

.detalles {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  padding: 10px 30px;
}

.detalle {
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--seccion);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalle h3 {
  font-weight: normal;
  font-weight: bold;
  color: var(--titulo);
}
.detalle p {
  line-height: 1.5;
  text-align: justify;
}

.detalle .icono {
  color: var(--icono);
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .contenedor {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contenedor h2 {
    margin: 10px;
  }

  .detalles {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
  }

  .detalle {
    text-align: center;
  }

  .detalle .icono {
    flex-direction: column;
    font-size: 30px;
  }
}

@media screen and (max-width: 512px) {
  .detalle h3 {
    font-size: 25px;
  }
  .detalle p {
    font-size: 19px;
  }
}
/* Fin de la sección servicio*/

/* Inicio de la sección Contacto*/

.formulario {
  background-color: var(--blanco);
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 900px;
}

fieldset {
 
  border: none;
}

.contenedor-campos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.campo{
  display: flex;
  flex-direction: column;
}

.campo:nth-child(3),
.campo:nth-child(4) {
  grid-column: 1 / 3;
}

.campo {
  margin-bottom: 15px;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.input-text {
  padding: 0.5rem 0;
  border: none;
  border-bottom:  1.5px solid var(--nav);
}

.input-text::placeholder {
  color: transparent;
}

textarea {
  height: 8rem;
}

.enviar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botton {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  background-color: var(--nav);
  color: var(--blanco);
  border: none;
}

.botton:hover {
  background-color: var(--icono);
}

.mensaje span {
  font-size: 2rem;
  color: #949494;
}

@media (max-width: 768px) {
  .contenedor-campos {
    display: flex;
    flex-direction: column;
  }

  label {
    display: none;
  }

  .input-text {
    padding: 1rem 0;
    font-size: 1.25rem;
  }

  .input-text::placeholder {
    color: var(--nav);
    font-size: 1.15rem;
    font-weight: bold;
  }

}
/* Fin de la sección Contacto*/

/* Inicio de la sección Propiedad*/

.propiedad {
  background-color: var(--pie);
  border-top: 1px solid var(--seccion);
  max-width: 100%;
  padding: 1em;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .propiedad {
    padding: 1em;
  }
}

@media screen and (max-width: 512px) {
  .propiedad p,
  .propiedad b {
    font-size: 19px;
  }
}
/* Fin de la sección Propiedad*/
